.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}
.full-width {
  width: 100%;
}

// .snackbar-error {
//   background-color: #f44336;
//   color: white;
// }

// .snackbar-success {
//   background-color: green;
//   color: white;
// }
